{% block content %}

<style>
    
    body, h1, h3, p {
        margin: 0;
        padding: 0;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }


    .navbar-title {
        font-size: 24px;
        font-weight: bold;
        color: black;
        text-align: center;
        flex-grow: 1;
    }

    
    .login-button {
        background-color: #0074D9;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: auto; 
    }

    .login-button:hover {
        background-color: #005bb5;
    }

    
    .welcome-message {
        text-align: left;
        margin: 20px 0;
        font-size: 18px;
    }
    .search-form {
            margin-left:1000px;
            margin-bottom: 20px;
            
        }


    @media (max-width: 768px) {
        .navbar {
            flex-direction: column;
            
        }

        .navbar-title {
            margin: 10px 0;
            text-align: center;
        }

        .login-button {
            margin-left: 0;
            width: 100%;
        }
    }
</style>

<div class="navbar">
    <div class="navbar-center">
        <h1 class="navbar-title">BLOG</h1>
    </div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'Signout' %}"><button class="login-button">Logout</button></a>
    {% else %}
        <a href="{% url 'Signin' %}"><button class="login-button">Login</button></a>
    {% endif %}
</div>

<div class="welcome-message">
    {% if request.user.is_authenticated %}
        <h3>Welcome, {{ request.user.username }}</h3>
    {% else %}
        <h3>Welcome</h3>
    {% endif %}
    <div class="search-form">
        <form action="{% url 'home' %}" method="get">
            <input class="search-input" type="text" name="search" placeholder="Search Room ...">
            <button class="search-button" type="submit">Search</button>
        </form>
    </div>
</div>


{% endblock %}
